$black:black;
$white:#fff;
$min-width:150px;
$blue:#007bff;
$width70:70%;

    .tltip {
    z-index: 1500;
    position: absolute;
    min-width: $min-width;
    background-color: $black;
    padding: 10px;
    color: $white;
    left: 0;
    right: 0;
    width: $width70;
    margin: 0 auto;
    border-radius: 4px;
    border-color: transparent;
    border:none;
    outline: none;
      &.top{
        top: -50px;
    }
    &.top:before {
        content: '';
        position: absolute;
        content:"\A";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 5px 0 5px;
        border-color: $black transparent transparent transparent;   
        bottom: -10px; 
    }
    &.bottom{
        bottom: -50px;
    }
    &.bottom:before {
        content: '';
        position: absolute;
        content:"\A";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 5px 10px 5px;
        border-color: transparent transparent $black transparent;  
        top: -10px; 
    }
    h6 {
        margin: 0;
      }
  }